input:focus {
  outline: none;
}
header {
  .search-box {
    background: #fff;
    border: 0.1rem solid rgba(34, 9, 58, 0.05);
    box-sizing: border-box;
    border-radius: 0.8rem;
    line-height: 2rem;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    opacity: 0.6;
    &:focus {
      border: 0.1rem solid #ffa213;
      opacity: 1;
      & + .search-box-button {
        color: #ffa213;
        opacity: 1;
      }
    }
  }
  .search-box-button {
    position: absolute;
    top: 3px;
    right: 15px;
    border: none;
    background-color: #fff;
    width: 10%;
    height: 90%;
    opacity: 0.5;
    font-size: 18px;
  }
}
.icon-number {
  position: absolute;
  top: -9px;
  left: 11px;
  background: #ff8a01;
  border-radius: 50%;
  color: #fff;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.opacity {
  opacity: 0.6;
}
.header-button {
  border-radius: 8px;
  background-color: #ffa213;
  color: #fff;
  border: none;
}
.follow-button {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid black;
}
